@charset "UTF-8";
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/***** global class **/
/* line 14, ../sass/main.scss */
* {
  outline: none;
}

/* line 17, ../sass/main.scss */
.clearfix {
  clear: both;
}

/* line 20, ../sass/main.scss */
.hide {
  display: none;
}

/* line 24, ../sass/main.scss */
body {
  font-size: 20px;
}

/***** Header ****/
/* line 29, ../sass/main.scss */
header {
  text-align: center;
  height: 180px;
}
/* line 32, ../sass/main.scss */
header img {
  padding-top: 30px;
}
/* line 35, ../sass/main.scss */
header ul.social {
  float: right;
}
/* line 37, ../sass/main.scss */
header ul.social li {
  width: 90px;
  height: 90px;
  color: transparent;
  background-size: cover;
  cursor: pointer;
}
/* line 43, ../sass/main.scss */
header ul.social li.rss {
  background-image: url("https://cdn2.iconfinder.com/data/icons/metro-ui-icon-set/128/RSS_Feed.png");
}
/* line 46, ../sass/main.scss */
header ul.social li.facebook {
  background-image: url("https://cdn2.iconfinder.com/data/icons/metro-ui-icon-set/128/User_No-Frame.png");
}

/**** fix width for content ****/
/* line 54, ../sass/main.scss */
nav ul, footer .links, .mainContent {
  /*width: 1440px;*/
  margin: auto;
}

/* line 54 */
.searchBox {
  display: inline-block;
  width: 20%;
  height: 35px;
  background-color: #a2a2a2;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* Style the place holder on different broswer*/
::-webkit-input-placeholder {
   color: #787878;
}

:-moz-placeholder { /* Firefox 18- */
   color: #787878;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #787878;  
}

:-ms-input-placeholder {  
   color: #787878;  
}

/* line 59, ../sass/main.scss */
nav {
  background-color: #222222;
}
/* line 61, ../sass/main.scss */
nav ul {
  line-height: 100px;
  height: 100px;
  margin-top: 10px;
}
/* line 65, ../sass/main.scss */
nav li {
  float: left;
  height: 100px;
  margin-left: 5%;
  padding: 0 35px;
  cursor: pointer;
}
/* line 70, ../sass/main.scss */
nav li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffffff;
}
/* line 76, ../sass/main.scss */
nav li:hover {
  background-color: #928e85;
}
/* line 80, ../sass/main.scss */
nav input {
  height: 50px;
  width: 300px;
  font-size: 1.2rem;
  padding: 5px;
  margin-left: 60px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
/* line 89, ../sass/main.scss */
nav li.search:hover {
  background-color: #ededed;
}
/* line 92, ../sass/main.scss */
nav li.search:after {
  content: " ";
  display: inline-block;
  /*width: 40px;
  height: 40px;*/
  position: relative;
  /*top: 15px;
  left: -50px;*/
  /*background-image: url(https://cdn0.iconfinder.com/data/icons/TWG_Retina_Icons/64/magnifier.png);*/
  background-size: cover;
}

/****** main content ******/
/* line 108, ../sass/main.scss */
div.mainContent .leftContent {
  border-right: 2px solid #ccc;
  width: 80%;
  float: left;
  margin-left: 20px;
}
/* line 112, ../sass/main.scss */
div.mainContent .leftContent .topStory {
  background: -webkit-linear-gradient(#c0c0c0, white, #c0c0c0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#c0c0c0, white, #c0c0c0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#c0c0c0, white, #c0c0c0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#c0c0c0, white, #c0c0c0); /* Standard syntax */
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 115, ../sass/main.scss */
div.mainContent .leftContent .topStory .storyText {
  float: left;
  width: 50%;
  background-color: #212121;
}

div.mainContent .leftContent .topStory .storyImage {
  width: 100%;
  position: relative;
}

div.mainContent .leftContent .topStory .storyImage img {

}

div.mainContent .leftContent .topStory .storyImage .flyer {
  position: absolute;
  top: 20px;
  left: 350px;
}

div.mainContent .leftContent .topStory .storyImage .flyertext {
  margin-left: 15px;
  margin-top: 15px;
  color: white;
}

/* line 173, ../sass/main.scss */
div.mainContent .leftContent .issuePicker {
  height: 160px;
}
/* line 175, ../sass/main.scss */
div.mainContent .leftContent .issuePicker div#uipv_main_issueDate, div.mainContent .leftContent .issuePicker div#uipv_content_issueDate {
  width: 100% !important;
}
/* line 179, ../sass/main.scss */
div.mainContent .leftContent .featureStory {
  background-color: #928e85;
  height: 450px;
  position: relative;
}
/* line 183, ../sass/main.scss */
div.mainContent .leftContent .featureStory .slideControl {
  position: absolute;
  width: 220px;
  height: 30px;
  bottom: 10px;
  left: 620px;
}
/* line 189, ../sass/main.scss */
div.mainContent .leftContent .featureStory .slideControl li {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  border-radius: 10px;
  width: 20px;
  border: 1px solid transparent;
  margin-left: 10px;
  height: 20px;
  float: left;
}
/* line 198, ../sass/main.scss */
div.mainContent .leftContent .featureStory .slideControl li.active {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
}
/* line 205, ../sass/main.scss */
div.mainContent .leftContent .featureStory .storyImage {
  float: left;
  width: 310px;
  height: 450px;
  overflow: hidden;
  border-right: 40px solid #e6592e;
}
/* line 212, ../sass/main.scss */
div.mainContent .leftContent .featureStory .storyText {
  float: right;
  width: 850px;
}
/* line 215, ../sass/main.scss */
div.mainContent .leftContent .featureStory .storyText .featureMarker {
  width: 200px;
  height: 50px;
  position: relative;
  top: 20px;
  left: -30px;
  text-align: center;
  line-height: 50px;
  color: white;
  background-color: #9e0203;
}
/* line 226, ../sass/main.scss */
div.mainContent .leftContent .featureStory .storyText .singleStory {
  position: relative;
  height: 340px;
  overflow: hidden;
  padding-top: 60px;
}
/* line 231, ../sass/main.scss */
div.mainContent .leftContent .featureStory .storyText .singleStory h3 {
  line-height: 80px;
  display: block;
  background-color: white;
  border-top: 5px dashed #ededed;
  border-bottom: 5px dashed #ededed;
  outline: white solid 10px;
  text-align: center;
}
/* line 240, ../sass/main.scss */
div.mainContent .leftContent .featureStory .storyText .singleStory p {
  padding: 20px;
}
/* line 243, ../sass/main.scss */
div.mainContent .leftContent .featureStory .storyText .singleStory .readMore {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/* line 252, ../sass/main.scss */
div.mainContent .leftContent .articleContent ul.tabs {
  height: 80px;
}
/* line 254, ../sass/main.scss */
div.mainContent .leftContent .articleContent ul.tabs li {
  float: left;
  width: 33.33%;
  line-height: 80px;
  background-color: #ededed;
  text-align: center;
  cursor: pointer;
}
/* line 261, ../sass/main.scss */
div.mainContent .leftContent .articleContent ul.tabs li.active, div.mainContent .leftContent .articleContent ul.tabs li:hover {
  background-color: white;
}
/* line 267, ../sass/main.scss */
div.mainContent .leftContent .articleContent ul.articles li {
  padding: 50px;
  height: 220px;
  border-bottom: 1px solid #ededed;
  position: relative;
  clear: both;
}
/* line 273, ../sass/main.scss */
div.mainContent .leftContent .articleContent ul.articles li h4, div.mainContent .leftContent .articleContent ul.articles li p {
  float: right;
  width: 70%;
}
/* line 277, ../sass/main.scss */
div.mainContent .leftContent .articleContent ul.articles li .imgWrapper {
  float: left;
  width: 25%;
  height: 200px;
  overflow: hidden;
}
/* line 282, ../sass/main.scss */
div.mainContent .leftContent .articleContent ul.articles li .imgWrapper img {
  width: 100%;
}
/* line 286, ../sass/main.scss */
div.mainContent .leftContent .articleContent ul.articles li h4 {
  font-weight: 700;
  line-height: 60px;
}
/* line 290, ../sass/main.scss */
div.mainContent .leftContent .articleContent ul.articles li a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/* line 299, ../sass/main.scss */
div.mainContent .rightContent {
  width: 220px;
  float: left;
}
/* line 302, ../sass/main.scss */
div.mainContent .rightContent .imageWheel {
  margin-top: 20px;
  height: 280px;
  position: relative;
}
/* line 306, ../sass/main.scss */
div.mainContent .rightContent .imageWheel .image {
  position: absolute;
  z-index: 2;
  height: 220px;
  width: 150px;
  overflow: hidden;
  border-radius: 5px;
}
/* line 313, ../sass/main.scss */
div.mainContent .rightContent .imageWheel .image img {
  width: 170px;
  margin-left: -10px;
}
/* line 318, ../sass/main.scss */
div.mainContent .rightContent .imageWheel .prev-2, div.mainContent .rightContent .imageWheel .next-2 {
  top: 0px;
  left: 43px;
  zoom: 0.8;
}
/* line 322, ../sass/main.scss */
div.mainContent .rightContent .imageWheel .prev-2 img, div.mainContent .rightContent .imageWheel .next-2 img {
  opacity: 0.5;
}
/* line 326, ../sass/main.scss */
div.mainContent .rightContent .imageWheel .prev-1, div.mainContent .rightContent .imageWheel .next-1 {
  top: 20px;
  left: 30px;
  zoom: 0.9;
}
/* line 330, ../sass/main.scss */
div.mainContent .rightContent .imageWheel .prev-1 img, div.mainContent .rightContent .imageWheel .next-1 img {
  opacity: 0.4;
}
/* line 334, ../sass/main.scss */
div.mainContent .rightContent .imageWheel .next-1 {
  top: 90px;
}
/* line 337, ../sass/main.scss */
div.mainContent .rightContent .imageWheel .next-2 {
  top: 150px;
}
/* line 340, ../sass/main.scss */
div.mainContent .rightContent .imageWheel .current {
  top: 40px;
  left: 20px;
  z-index: 20;
}
/* line 347, ../sass/main.scss */
div.mainContent .rightContent .mostArticle {
  margin-top: 50px;
  width: 200px;
  height: 300px;
  background-color: black;
  border-radius: 10px;
}
/* line 354, ../sass/main.scss */
div.mainContent .rightContent .mostArticle ul.tabs li {
  cursor: pointer;
  width: 50%;
  text-align: center;
  font-size: 1rem;
  float: left;
  line-height: 30px;
  color: white;
  border-radius: 5px;
}
/* line 363, ../sass/main.scss */
div.mainContent .rightContent .mostArticle ul.tabs li.active {
  background-color: #9e0203;
}
/* line 368, ../sass/main.scss */
div.mainContent .rightContent .mostArticle ul.mostRead, div.mainContent .rightContent .mostArticle ul.mostShared {
  height: 270px;
  padding: 30px 20px 0 0px;
}
/* line 371, ../sass/main.scss */
div.mainContent .rightContent .mostArticle ul.mostRead a, div.mainContent .rightContent .mostArticle ul.mostShared a {
  color: white;
  font-size: 0.8rem;
}
/* line 375, ../sass/main.scss */
div.mainContent .rightContent .mostArticle ul.mostRead li, div.mainContent .rightContent .mostArticle ul.mostShared li {
  padding: 10px 0px 0px 20px;
}
/* line 377, ../sass/main.scss */
div.mainContent .rightContent .mostArticle ul.mostRead li:before, div.mainContent .rightContent .mostArticle ul.mostShared li:before {
  content: "• ";
  font-size: 0.8rem;
  color: white;
}
/* line 385, ../sass/main.scss */
div.mainContent .rightContent .social {
  margin: 30px 0px;
  height: 40px;
}
/* line 388, ../sass/main.scss */
div.mainContent .rightContent .social li {
  float: left;
  margin-right: 20px;
}
/* line 393, ../sass/main.scss */
div.mainContent .rightContent #ads {
  margin: 30px 0px;
  width: 200px;
}
/* line 396, ../sass/main.scss */
div.mainContent .rightContent #ads img {
  width: 100%;
}
/* line 400, ../sass/main.scss */
div.mainContent .rightContent .getInvolved {
  margin-top: 50px;
  width: 200px;
  height: 120px;
  background-color: black;
  border-radius: 10px;
}
/* line 406, ../sass/main.scss */
div.mainContent .rightContent .getInvolved h3 {
  color: white;
  font-size: 1.2rem;
  line-height: 30px;
  text-align: center;
  border-bottom: 1px solid #666;
}
/* line 413, ../sass/main.scss */
div.mainContent .rightContent .getInvolved li {
  padding: 2px 0 2px 10px;
}
/* line 415, ../sass/main.scss */
div.mainContent .rightContent .getInvolved li:before {
  content: "• ";
  font-size: 0.8rem;
  color: white;
}
/* line 421, ../sass/main.scss */
div.mainContent .rightContent .getInvolved a {
  color: white;
  font-size: 0.8rem;
}

/* line 429, ../sass/main.scss */
footer {
  background-color: black;
  color: white;
}
/* line 432, ../sass/main.scss */
footer .links {
  position: relative;
  height: 300px;
}
/* line 436, ../sass/main.scss */
footer li a {
  color: #ccc;
  font-size: 1rem;
}
/* line 440, ../sass/main.scss */
footer ul {
  float: left;
  margin: 50px;
}
/* line 444, ../sass/main.scss */
footer .notes {
  position: absolute;
  margin: 50px 0 0 50px;
  bottom: 0px;
  width: 100%;
  height: 40px;
}
/* line 450, ../sass/main.scss */
footer .notes p {
  float: left;
  line-height: 40px;
}
/* line 451, ../sass/main.scss */
footer .notes ul {
  position: absolute;
  margin: 0px;
  right: 20px;
}
/* line 456, ../sass/main.scss */
footer .notes li {
  float: left;
  margin-right: 10px;
}
