#menu{
	display:none;
}
@media (max-width:767px) { 
#menu{
	display: block;
	position:absolute;
	right:10px;
	top:50px;
	width:40px;
	cursor:pointer;
	background:#000;
	border:none;
}
#menu span{
	height:1px;
	display: block;
	margin:8px 5px;
	background:#fff;
}
.logo{
	width:auto;
	float:none;
	max-width:300px;
	margin:auto;
	padding-bottom:50px;
}
.logo img{
	max-width:260px;
}
.donate{
	float:none;
	padding-top:10px;
	padding-bottom:10px;
	right:0;
	width:100%;
	text-align:center;
	position:absolute;
	top:0;
	
}
.donate a{
	background:#d21c42 !important;
	color:#fff !important;
	padding:4px 10px !important;
	height:auto !important;
	font-size:12px !important;
	position:static !important;
	width:auto !important ;
}
.search-bar{
	right:50%;
	margin-right:-134px;
	top:-46px;
}
.search-bar input[type="text"]{
}
.left-nav{
	width:100%;
}
.left-nav ul{
	padding:25px 15px 25px;
}
.left-nav ul li{
	float:none;
	margin:0;
}
.left-nav ul li a{
	padding:3px 0;
	font-size:16px;
	background:none !important;
}
.nav{
	height:auto;
	padding-bottom:20px;
}
.header{
	height:auto;
}

.top-story .right,
.top-story .left,
.right-panel,
.left-panel{
	float:none;
	width:100%;
}
.featured-story .slider-content p{
	display:none;
}
.featured-story .slider-content h3{
	font-size:20px;
}
.featured-story .featured-label{
	font-size:20px;
	position:static;
	margin-bottom:15px;
}
.tab-panels{
	padding:10px;
}
.tabs-head li.ui-tabs-active::before{
	display:none;
}
.tabs-head{
	height:auto;
	background:#dfdfdf;
}
.tabs-head li.ui-tabs-active{
	background:#f3f3f3;
}
.tabs-head li a{
	font-size:16px;
	padding:0 15px;
	
}
.tabs-head li + li,
.tabs-head li + li + li,
.tabs-head li{
	width: auto;
	float:none;
	display:inline-block;
}
.content-row .right .tab-content-des h4{
	padding-top:20px;
}
.content-row .mate{
	position:static;
	width: 100%;
	height: auto;
}
.content-row .right .tab-content-des{
	font-size:14px;
}
.content-row .mate .fr,
.content-row .mate .fl{
	padding:10px 0 0;
	float:none;
}
.top-story .left{
	display:none;
}
.side-tabs .tabs-head li{
	width:auto;
	height:auto;
}
.side-tabs .tabs-content{
	border:none;
}
.footer .footer-col.last,
.footer .footer-col{
	width: auto;
	float:none;
	padding:20px;
}
.left-nav{
	display:none;
}
}
@media (max-width:350px) { 
	.content-row .left,
.content-row .right,
.top-story .right,
.top-story .left,
.right-panel,
.left-panel{
	float:none;
	width:100%;
}

}

@media (min-width: 768px) and (max-width: 1185px) {
.container{
	max-width:100%;
}

.logo img{
	max-width:100%;
}
.logo{
	width:50%;
}
.donate{
	right:-20px;
}
.search-bar{
	top:-48px;
}
.left-nav ul li a{
	font-size:20px;
}
.nav{
	height:88px;
}
.tabs-head li.ui-tabs-active::before{
	display:none;
}
.tabs-head{
	height:auto;
	background:#dfdfdf;
}
.tabs-head li.ui-tabs-active{
	background:#f3f3f3;
}
.tabs-head li{
	display: inline-block;
	float:none;
	height:auto !important;
	width:auto !important;
}
.tabs-head li a{
	font-size:16px;
	padding:0 15px;
	
}

}
@media (min-width: 768px) and (max-width: 999px) {
	.right-panel,
	.left-panel{
		float:none;
		width:100%;
	}
	
}
@media (min-width: 1000px) and (max-width: 1195px) {
	.left-panel{
		width:70%;
	}
		.right-panel{
		width:30%;
	}
	.side-tabs .tabs-head li a{
		font-size:16px;
	}
}