@charset "utf-8";
/* CSS Document */

/*---------------------------Genrael Clases---------------------------------------*/

body {
	font-size: 15px;
	background: #ebebeb;
	position: relative;
}
* {
	margin: 0px;
	padding: 0px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clr {
	clear: both;
}
ul, li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
}
img {
	border: 0px;
}
.clearfix:after {
	content: "";
	height: 1px;
	display: block;
	clear: both;
}
#menu {
	display: none;
}
button, input {
	outline: none;
}
/*---------------------------Layout Content Clases---------------------------------*/


.header {
	width: 100%;
	background: #fff;
	height: 300px;
}
.site-content,.container  {
	max-width: 1206px;
	margin: auto;
}
.logo {
	width: 767px;
	padding-top: 41px;
	float: left;
}
.donate {
	float: right;
	right: -70px;
	position: relative;
}
.donate-icon, .subscrib-icon {
	vertical-align: top;
	display: inline-block;
}
.subscrib-icon a {
	width: 177px;
	height: 147px;
	display: inline-block;
	background: url(../images/label.png) top no-repeat;
	padding-top: 31px;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	display: block;
	position: relative;
	left: 14px;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Avenir LT Std 65 Medium';
}
.donate-icon a {
	width: 147px;
	height: 114px;
	text-align: center;
	background: url(../images/label_small.png) top no-repeat;
	padding-top: 24px;
	font-size: 18px;
	display: block;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Avenir LT Std 65 Medium';
}
.nav {
	width: 100%;
	height: 100px;
	background: #222222 url(../images/nav-bg.png) left bottom repeat-x;
	position: relative;
}
.left-nav {
	width: 100%;
}
#menu-headernav > li {
	float: left;
	margin-right: 50px;
}
#menu-headernav > li:last-child {
	margin-right: 0px;
}
#menu-headernav > li > a {
	color: #ffffff;
	font-size: 30px;
	padding: 21px 9px 43px 12px;
	display: block;
	font-family: 'Avenir LT Std 95 Black';
}
#menu-headernav > li > a:hover {
	text-decoration: none;
	background: url(../images/hover-bg.png) bottom no-repeat;
}
.search-bar {
	width: 268px;
	height: 40px;
	background: url(../images/search-bg.png) top repeat-x;
	position: absolute;
	right: 23px;
	top: 18px;
	border-radius: 4px;
}
.search-bar input[type="text"] {
	border: 0px;
	background: none;
	width: 100%;
	color: #787878;
	font-size: 26px;
	font-weight: 600;
	padding: 5px 7px;
	box-sizing: border-box;
	background: url(../images/search-icon.png) 97% 44% no-repeat;
	cursor: pointer;
	font-family: 'Avenir LT Std 65 Medium';
}
body.home #content .container {
	background: #808080;
}
#content img {
	max-width: 100%;
}

.button ,#respond input#submit{
	width: 260px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
	background-color: rgb(195,25,35);
	color: white;
  border: none;
}
.button a{
	height: 40px;
	line-height: 40px;
	display: block;
	color:white;
	font-size:18px;
}
.left-panel {
	width: 75%;
	margin-top: 20px;
	float: left;
}

.top-story img {
	width: 100%;
	height: 100%;
	height: 326px;
	width: 326px;
}

.top-story {
	height:350px;
	margin-bottom: 20px;
	overflow:hidden;
	background: #bdbdbd; /* Old browsers */
	background: -moz-linear-gradient(top, #e4e4e4 0%, #bababa 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e4e4e4 0%, #bababa 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e4e4e4 0%, #bababa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#bababa', GradientType=0 ); /* IE6-9 */
}

.top-story .left {
	float: left;
	width: 36%;
	overflow: hidden;
}
.top-story .right {
	float: left;
	width: 64%;
}
.top-story .story-label {
	background: url(images/flag.png) left top no-repeat;
	background-size: 100%;
	width: 200px;
	height: 49px;
	position: relative;
	left: -10px;
	margin-top: 10px;
	display: inline-block;
	text-align: center;
	line-height: 47px;
	color: #fff;
	font-size: 32px;
	margin-bottom: 30px;
	font-family: 'Avenir LT Std 65 Medium Oblique';
}
.top-story h3 {
	padding-top: 20px;
	font-family: 'Avenir LT Std 65 Medium';
	font-weight: normal;
	font-size: 26px;
	margin-bottom: 10px;
}
.top-story h3 span {
	display: block;
	padding: 5px 20px 4px;
	color: #9b0000;
}

.top-story p {
	color: black;
	font-weight: normal;
	padding: 20px;
	font-family: 'Avenir LT Std 65 Medium';
	font-size: 20px;
}


.featured-story {
	position: relative;
}

.featured-story .items {
	position: relative;
}
.featured-story .slider-content {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.7);
	padding: 1% 5%;
	width: 90%;
	font-family: 'Avenir LT Std 65 Medium';
	color: #fff;
}
.featured-story .slider-content h3 {
	font-size: 30px;
	font-weight: normal;
}
.featured-story .slider-content p {
	font-size: 20px;
}
.featured-story .featured-label {
	background: url(images/flag.png) left top no-repeat;
  background-size: 100%;
	width: 265px;
	height: 49px;
	position: absolute;
	left: -10px;
	top: 0;
	margin-top: 20px;
	display: inline-block;
	text-align: center;
	line-height: 47px;
	color: #fff;
	font-size: 32px;
	margin-bottom: 30px;
	z-index: 111;
	font-family: 'Avenir LT Std 65 Medium Oblique';
}
body.home #main{
	padding-bottom: 1px;
	background: #808080;
}
.tab-panels {
	background-color: #ccc;
	margin : 35px 15px;
}
.tabs-head {
	height: 50px;
	position: relative;
	font-family: 'Avenir LT Std 65 Medium';
}
.tabs-head li {
	height: 50px;
	line-height: 50px;
	width: 25%;
	text-align: center;
	float: left;
	overflow: hidden;
}
.tabs-head li a {
	color: #000;
	line-height: 50px;
	display: block;
	position: relative;
	z-index: 111;
	text-decoration: none !important;
	font-size: 24px;
}
.tabs-head li:hover{
	background: #e2e2e2;
}
.tabs-head li.active {
	background: url(images/flag.png) no-repeat left top;
	background-size: 100%;
}
.tabs-head li.active a{
	color: #fff;
}
.tabs-content {
	background: #fff;
	padding: 20px;
	font-family: 'Avenir LT Std 65 Medium';
	color: #000;
	margin-top: -2px;
	font-size: 18px;
}
.content-row {
	position: relative;
	border-bottom: #000 solid 1px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.content-row:last-child {
	margin-bottom: 0;
	border-bottom: none;
	padding-bottom: 0;
}
.content-row .left {
	width: 37%;
	float: left;
	font-size: 0;
}
.content-row .right {
	width: 63%;
	float: left;
}
.content-row .right .tab-content-des {
	padding: 0 15px;
}
.content-row .right .tab-content-des h4 {
	font-size: 26px;
	font-weight: normal;
	margin-bottom: 15px;
}
.content-row .mate {
	position: absolute;
	width: 63%;
	left: 37%;
	height: 20px;
	bottom: 30px;
}
.content-row:last-child .mate {
	bottom: 10px;
}
.content-row .mate .fl {
	padding-left: 15px;
}
.content-row .mate .comments {
	margin-left: 20px;
	position: relative;
}
.content-row .mate .comments sub {
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	left: 80%;
	top: -10px;
	background: #9e0b0f;
	border-radius: 50%;
	overflow: hidden;
	color: #fff;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
}
.content-row .mate i {
	border-bottom: #868686 solid 1px;
}
.content-row .mate a {
	color: #000;
}
.right-panel {
	width: 25%;
	padding-top: 20px;
	float: right;
	margin-left: -1px;
}
.ads-panel {
	text-align: center;
	width:260px;
	overflow: hidden;
	height: 340px;
	margin-bottom: 15px;
}
.ads-panel img{
	width:100%;
}
.side-tabs{
	padding:0 15px;
	}
.side-tabs	.tabs-head{
		height:49px;
	}
.side-tabs  .tabs-head li{
	width:105px;
	padding-left:15px;
	text-align:left;
}
.side-tabs  .tabs-head li a{
	font-size:18px;
	line-height:49px;
	outline: none;
	padding-top:0px;
	text-align:left;
}

.side-tabs  .tabs-content{
	font-size:16px;
	border:#000 solid 1px;
}
.side-tabs  .tabs-content li{
	list-style:disc;
	margin-left:10px;
	margin-bottom:5px;
}
.side-tabs  .tabs-head li.ui-tabs-active:before {
	background: url(../images/side-tabs.png) no-repeat left top;
}
.side-tabs  .tabs-head li + li.ui-tabs-active:before {
	background: url(../images/side-tabs2.png) no-repeat left top;
}

.center{
	text-align:center;
	padding-top:15px;
}
.socialshare{
	padding:15px 0;
	text-align:center;
}
.footer {
	width: 100%;
	font-family: 'Avenir LT Std 65 Medium';
	background: #ccc;
	padding-top: 30px;
	color:#fff;
	font-size:17px;
	margin-top: 20px;
}
.footer .container {
	margin: auto;
}
.footer .footer-col{
	width:20%;
	float:left;
	margin-right:3%;
}
.footer .footer-col a{
	color:#000;
}
.footer .footer-col h4{
	font-size:20px;
	color:#9b0000;
	margin-bottom: 10px;
}
.footer .footer-col.last{
	width:30%;
	margin-right:0;
	float:right;
}
.footer .copyrights{
	text-align:center;
	padding-top:20px;
	border-top:1px solid #000;
	margin-top:20px;
	font-size:14px;
	padding-bottom:20px;
	color:#000;
}


.featured-story .bx-prev{
	background:url(../images/left.png) no-repeat left top;
	height:34px;
	width:34px;
	overflow:hidden;
	text-indent:-400px;
	position:absolute;
	top:50%;
	outline:none;
	display:none;
	margin-top:-17px;
	left:20px;
}
.featured-story .bx-next{
	background:url(../images/right.png) no-repeat left top;
	height:34px;
	width:34px;
	outline:none;
	overflow:hidden;
	display:none;
	text-indent:-400px;
	position:absolute;
	top:50%;
	margin-top:-17px;
	right:20px;
}
.featured-story:hover  .bx-prev,
.featured-story:hover  .bx-next{
	display:block;
}
.screen-reader-text{
	display: none;
}
.social-icons .content {
	position: relative;
	display: block;
	height: 50px;
	width:260px;
	margin:15px 0 10px;
}
.social-icons .content:hover li{
	display: block;
}
.social-icons .content ul {
  background: #d2d2d2;
	width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
	position: absolute;
}

.social-icons .content ul li.active {
	background: url(../images/search-bg.png);
	background-size: contain;
	display: block;
}
.social-icons .content ul li {
	width:100%;
	height: 50px;
	display: none;
}
.social-icons .content ul a {
	font-size: 18px;
  padding-left: 15px;
	width:100%;
	display: block;
	height: 50px;
	line-height: 50px;
	color:#000;
  text-decoration: none;
}
.social-icons .content li:hover {
  background: #e3e3e3;
}


.nav ul {
  display: inline;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.nav ul li {
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
	position: relative;
}
.nav ul li:hover {

}


.wrapper p {
	text-align: center;
	margin-top: 6px;
}

.ad {
	height: 326px;
}

#menu-headernav a:hover + ul{
	display: block;
}
ul.dropdown-menu:hover {
	display: block;
}
ul.dropdown-menu {
	background: url(../images/hover-bg.png);
  padding: 0;
  position: absolute;
  top: 80px;
  width: 200px;
  display: none;
	z-index: 100;
	left:5px;
	padding-top: 20px;
}
ul.dropdown-menu li{
  background: #555;
  display: block;
  color: #fff;
	height:50px;
  width: 100%;
	line-height: 50px;
	margin:0px;
}
ul.dropdown-menu li:hover{
	background: #ccc;
}
ul.dropdown-menu li a{
	display: block;
	font-size:18px;
	color:white;
	height: 50px;
	padding:0 20px;
}
.dazzling-social{
	display: none;
}

body.home .dazzling-social{
	display: block;
}

h1.entry-title{
	color:#9b0000;
}

body.single-post .main-content-area{
  padding-right: 20px;
}

body.single-post header .feature-image{
	width:100%;
	max-height:300px;
	overflow: hidden;
}

body.single-post header .feature-image img{
	width:100%;
}
body.single-post header h1{
	padding:20px 0;
}

body.single-post .wp_rp_wrap{
	margin:20px 0;
}

body.single-post input#submit{
	margin-top: 20px;
}

#commentform > p{
	display: none;
}
#commentform .comment-form-comment,#commentform .form-submit{
	display: block;
}

body.page .left-panel{
	width: 100%;
	display: block;
}
body.page .right-panel{
	display: none;
}
